h1 {
    font-family: monospace;
    font-size: 30px;
}

/* basic button style  */

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 2;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 20px;
    width: 30%;
    border: 02px solid #ffa260;
    color: #ffa260;

}

body {
    color: #fff;
    background: hsl(227, 10%, 10%);

    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
  }

.raise:hover,
.raise:focus 
{
    box-shadow: 0 0.5em 0.5em -0.4em #e5ff60;
    transform: translateY(-0.25em);
    border: 2px solid #e5ff60;
    color: #fff;

}